.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6; // la griglia occupa solo le prime 6 colonne della riga
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(
    min-content,
    max-content
  ); //abbiamo una sola colonna che deve espandersi al massimo del suo contenuto più grande ed al minimo per contenere elemento più piccolo
  grid-row-gap: 1.5rem;
  justify-content: center; // centra la grid nel suo container

  // fino a 800px la griglia occupa tutte le colonne della riga (non solo le prime 6 come negli altri breakpoint più grandi !!!)
  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  // fino a 600px diminuiamo il padding
  @media only screen and (max-width: $bp-small) {
    padding: 5em;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  // la riga "seen on" è una grid composta da 3 colonne: 1 riga before, il testo ed una riga after
  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;

    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor; //eredita il colore dal padre
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%); // immagini più scure
    }
  }
}
