// HEADER

// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

//SEARCH
.search {
  flex: 0 0 40%; //no grow, no shrink, occupa 40% dello spazio del flex

  // facciamo diventare l'item del flexbox un container flex
  // in modo da centrare sia il campo di input sia la lente al centro in
  // orizzontale ed in verticale
  display: flex;
  justify-content: center; //allineati in orizzontale
  align-items: center; // verticalmente centrati

  // a 500px la search è l'ultimo item del flex ed avendo header a wrap puà andare a capo (per farlo però a 500px dobbiamo farla crescere un pò !!!)
  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%; // no grow, no shrink, ma occupa 100% della  width dell'item
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.5s;
    margin-right: -3.25rem;

    // quando attiviamo il cmapo di input diventa più grande
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // quando attiviamo input anche lente avrà stesso colore dell'input
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); //colore della lente di ingradimento
  }
}

// USER NAVIGATION

.user-nav {
  align-self: stretch; // l'item user-nav si allarga in verticale fino a riempire tutte lo spazio del suo flex-container (cioè header)

  // facciamo diventare l'item del flexbox un container flex
  // in modo da centrare tutti gli elementi contenuto al centro in verticale
  display: flex;
  align-items: center; // verticalmente centrati

  position: relative; // per lo user-menu

  //selezioamo tutti i children di user-nav e li stilizziamo...
  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; //occupano tutto lo spazio del container (user-nav)
    // questo contiene (svg oppure img) e span e lo facciamo diventare un flex per centrarne il contenuto verticalmente
    display: flex;
    align-items: center;
  }
  //... anche quando andiamo in hover
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative; //riferimento impostato per il posizionamento della notification
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  // cerchietto rosso con il numero bianco all'interno
  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #ffff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    // centriamo la scritta bianca con in conteggio in orizzontale ed in verticale all'interno del pallino rosso usando nuovamente il flex
    display: flex;
    align-items: center; // verticalmente centrati
    justify-content: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  // questo viene richiamato  da user-name e icon-box quando si va in hover su questi due div
  // e rende visibile un menu con una serie di opzioni il cui contenuto varia perchè viene dal relativo html
  &__user-menu {
    width: 12.3rem;
    position: absolute;
    top: 100%;
    right: -0.1%;
    color: var(--color-primary);
    opacity: 0;
    background-color: #fff;
    transform: scaleY(0);
    border: var(--line);
    border-bottom-left-radius: 10px;
    text-align: center;
    transition: all 0.3s;
    transform-origin: top;

    display: flex;
    flex-direction: column;

    &--chats {
      width: 36rem;
      height: 21rem;
      overflow-x: hidden;
      overflow-y: scroll;
      text-align: left;
      border-bottom-right-radius: 10px;
      padding: 1rem;
      cursor: auto;

      // customizzazioni della scroll bar
      &::-webkit-scrollbar {
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        margin: 0.7rem;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 9999px;
        border: 5px solid rgba(0, 0, 0, 0);
        background-color: var(--color-primary);
        background-clip: padding-box;
      }

      @media only screen and (max-width: $bp-small) {
        right: -100%;
      }

      @media only screen and (max-width: $bp-smallest) {
        right: -150%;
      }
    }
  }

  // ogni riga della chat: inizio
  &__chat {
    &-item {
      display: grid;
      grid-template-columns: 15%;
      grid-template-rows: min-content min-content min-content;
      column-gap: 2rem;
      row-gap: 0.4rem;
      align-items: center;
      padding: 0.75rem;
      background-color: var(--color-grey-light-1);
      border: var(--line-thick);
      border-radius: 10px;

      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      &:hover {
        background-color: var(--color-primary);
        color: #fff;
      }
    }

    &-item:hover &-message {
      color: #fff;
      font-weight: 600;
    }

    &-photo {
      width: 100%;
      border-radius: 50%;
      grid-row: 1 / -1;
      align-self: start;
      justify-self: center;
    }

    &-name {
      margin-right: 1rem;
      font-size: 1.3rem;
      font-weight: 600;
    }

    &-time {
      line-height: 1;
      grid-row: 2 / 3;
      grid-column: 2 /3;
      font-size: 1rem;
      // margin-top: -1.1rem;
    }

    &-message {
      font-size: 1.3rem;
      grid-column: 2 / 3;
      color: var(--color-grey-dark-2);
    }
  }
  //  ogni riga della chat: fine

  // user-name contiene: immagine utente, nome e menu a comparsa (&__user-menu) in hover su questo div
  // icon-box contiene: immaginina, lo span con il numero delle notifine ed un menu a comparsa(user-menu-chats) solo sul secono icon-box in hover su questo div
  &__user-name:hover &__user-menu,
  &__icon-box:hover &__user-menu--chats {
    transform: scaleY(1);
    box-shadow: var(--shadow-light);
    opacity: 1;
    z-index: 1000;
  }

  &__user-option:link,
  &__user-option:visited {
    padding: 1rem 0rem;
    width: 100%;
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.2s;

    &:not(:last-child) {
      border-bottom: var(--line);
    }

    &:last-child {
      border-bottom-left-radius: 10px;
    }
  }

  &__user-option:hover {
    background-color: var(--color-primary);
    color: #fff;
    font-weight: 600;
  }

  &__user-option:focus,
  &__user-option:active {
    background-color: var(--color-primary);
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3) inset;
  }
}
