// sezione centrale di hotel-view
// contiene il contenitore .detail che affianca su due colonne la colonna .description e la colonna .user-review

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  font-size: 1.4rem;

  // fino a 880px diminuisci padding
  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  // fino a 717 mettiamo i due box description e user_review uno sotto l'altro
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: white;
  box-shadow: var(--shadow-light);
  flex: 0 0 60%; //non crescere, non shrinkare ed occupa 60% dello spazio
  margin-right: 4.5rem;
  padding: 3rem;

  // fino a 880px diminuisci padding e margine
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  // fino a 717 rimuovi il margine destro ed aumenta quello bottom
  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

// margin bottom su tutti i paragrafi ma non su l'ultimo di questo tipo
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap; //li facciamo espandere su varie righe

  // ogni item non cresce, non si comprime ma occupa il 50% dello spazio (in tal modo la lista degli items sarà su 2 colonne)
  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  // per ogni <li> creiamo uno pseudo elemento ::before l'elemento
  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;

    // older browsers (non possiamo specificare il colore!!)
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    //newer browsers - masks: possiamo specificare il colore
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;

  &__count {
    margin-right: auto; // calcola automaticamente il margine destra da aggiungere al div
  }

  &__friends {
    display: flex; //le foto una accanto all'altra
  }

  &__photo {
    box-sizing: content-box; //senza questo i 3px del bordo dell'immagine  riducono la size dell'immagine perchè il default border-box li aggiunge riducendo l'immagine
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

.user-reviews {
  flex: 1; //l'item cresce fino ad occupare lo spazio rimanente

  // i due box ed il pulsante li mettiamo in colonna e centrati
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative; // imposta riferimento per " del ::before
  overflow: hidden; //rimuove la sporgenza del double quotation mark

  // fino a 880px diminuisci padding e margine
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10; //sposta il text più in alto e lo sovrappone al double quotation mark
    position: relative; //per lo z-index
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C"; //left double quotation mark (css-tricks.com)
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-3);
    font-family: sans-serif;
    line-height: 1;
    z-index: 1; // double quotation mark più in basso
  }
}
