/* reset di tutti i default del browser*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* forza per tutti gli elementi il box-sizing con valori ereditati */
}

html {
  // this defines the size of 1rem
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px (pixels di default del browser =16px)  =  0.625 -> 62.5%; */

  @include respond(tab-land) {
    // width <= 1200 ?
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width <= 900
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    //width <= 600 ?
    font-size: 30%; //1rem =4.8px, 4.8/16 = 30%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

// quando selezioniamo TEXT nel nostro sito gli cambiamo colore di sfondo e colore del text
::selection {
  background-color: $color-primary;
  color: $color-white;
}
