body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey;
  padding: 3rem; /* lscia una cornice bianca tutto intorno al body*/

  box-sizing: border-box; /* resetta i bordi e padding aggiunti dal browser ai box definiti nel body */
}
